services:
  xiaomusic:
    image: hanxi/xiaomusic
    container_name: xiaomusic
    restart: unless-stopped
    ports:
      - 58090:8090
    environment:
      XIAOMUSIC_PUBLIC_PORT: 58090
    volumes:
      - /volume2/docker/xiaomusic/app/music:/app/music
      - /volume2/docker/xiaomusic/app/conf:/app/conf